@*@model LoginFormModel*@

<!-- Start login modal -->
<div class="modal fade" id="appLoginModal" tabindex="-1" aria-labelledby="appLoginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Modal title -->
                <h5 class="modal-title" id="appLoginModalLabel">User Login</h5>
                <!-- Close button -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-5">
                <div class="text-center text-muted mb-4">
                    <p class="cool-text">Unlock the magic with your credentials:</p>
                    <p class="cool-text">
                        Use the secret login spell to enter:
                    </p>
                    <p class="credentials">
                        <strong>Email:</strong> wizard@magicalrealm.com
                        <br>
                        <strong>Password:</strong> Abracadabra123!
                    </p>
                </div>
                <form id="account" method="post">
@*                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty] != null)
                    {
                        @foreach (var error in @ViewData.ModelState[string.Empty]?.Errors)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <span>@error.ErrorMessage</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        }
                    }*@
                    <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-email-83"></i>
                                </span>
                            </div>
@*                            <input asp-for="@Model.Email" class="form-control" placeholder="Email" type="email" />*@
                            <input class="form-control" placeholder="Email" type="email" />
                        </div>
@*                        <span asp-validation-for="@Model.Email" class="invalid-feedback" style="display: block"></span>*@
                        <span class="invalid-feedback" style="display: block"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-lock-circle-open"></i>
                                </span>
                            </div>
@*                            <input asp-for="@Model.Password" placeholder="Password" type="password" class="form-control" />*@
                            <input placeholder="Password" type="password" class="form-control" />
                        </div>
@*                        <span asp-validation-for="@Model.Password" class="invalid-feedback" style="display: block"></span>*@
                        <span class="invalid-feedback" style="display: block"></span>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-secondary my-4" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center justify-content-center">
                <p class="text-center mt-3" tabindex="-1">Don't have an account? Create a new one, or use your existing account and login with:</p>
                <div class="d-flex" tabindex="-1">
                    <!-- Google login button -->
                    <button class="btn btn-outline-dark btn-icon m-1" tabindex="-1">
                        <i class="bi bi-google"></i>
                        <span class="m-1">Google</span>
                    </button>
                    <!-- LinkedIn login button -->
                    <button class="btn btn-outline-dark btn-icon m-1" tabindex="-1">
                        <i class="bi bi-linkedin"></i>
                        <span class="m-1">LinkedIn</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End login modal -->
