@model CreateTimereportFormModel

<div class="justify-content-center text-center mb-5">
    <h3 class="display-8">Skapa Tidsrapport</h3>
    <p>Fyll i formuläret nedan för att lägga till en ny tidsrapport.</p>
    <div class="m-2">
        <select class="api-select" id="api-endpoint">
            <option value="https://arbetsprov.trinax.se/api/v1" selected>Trinax API</option>
            <option value="http://localhost:5000/api/v1">Fallback API</option>
        </select>
    </div>
</div>

<form id="create-timereport-form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <select asp-for="@Model.WorkplaceId" class="form-control" id="workplace-filter">
            @if(@Model.Workplaces != null){
                foreach (var workplace in @Model.Workplaces)
                {
                    <option value="@workplace.WorkplaceId" id="workplaceId">@workplace.Name</option>
                }
            }
        </select>
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.WorkplaceId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Date">Datum:</label>
        <input type="date" asp-for="@Model.Date" class="form-control" id="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.Date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Date">Arbetade timmar:</label>
        <input type="number" step="0.10" asp-for="@Model.Hours" class="form-control" id="hours">
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.Hours" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group image-option hidden mt-3">
        <img id="image-preview" src="~/img/default/timereport/default_time_report_image.png">
    </div>
    <div class="form-group">
        <label class="file-input invisible">
            <input type="file" asp-for="@Model.ImageFile" class="form-control-file" id="image-input" name="ImageFile">
        </label>
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Info">Information:</label>
        <textarea asp-for="@Model.Info" class="form-control" id="info" rows="6"></textarea>
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.Info" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-secondary w-100 m-0 mb-5 p-2" id="submit-button">
            <span class="m-2">SKICKA IN TIDSRAPPORT</span>
            <i class="bi bi-send"></i>
        </button>
    </div>
</form>

<!--Include form submission validation modals and scripts-->
<partial name="~/Views/Shared/Scripts/_ValidationScripts.cshtml" />
<partial name="~/Views/Shared/Modals/_SubmissionSucessModal.cshtml" />
<partial name="~/Views/Shared/Modals/_SubmissionFailedModal.cshtml" />

<!--Include required JS modules based on environment-->
<environment include="Development">
    <script src="~/js/createTimeReportModule/createTimeReportModule.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/createTimeReportModule/createTimeReportModule.min.js" asp-append-version="true"></script>
</environment>
