@model CreateTimereportFormModel

<form id="create-time-report-form" method="post" enctype="multipart/form-data" class="mt-5">
    <h1 class="display-6">SKAPA TIDSRAPPORT</h1>
    <p>Träda in i tidsresandets värld av tidsrapporter!</p>
    <p>Låt din fantasi flöda och fyll i formuläret nedan för att lägga till en ny tidsrapport.</p>
    <div class="form-group">
        <select asp-for="@Model.WorkplaceId" class="form-control" id="WorkplaceId">
            <option value="0">Välj arbetsplats</option>
            @foreach (var workplace in @Model.Workplaces)
            {
                <option value="@workplace.Id">@workplace.Name</option>
            }
        </select>
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.WorkplaceId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Date">Datum:</label>
        <input type="date" asp-for="@Model.Date" class="form-control" id="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.Date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Date">Arbetade timmar:</label>
        <input type="number" step="0.10" asp-for="@Model.Hours" class="form-control" id="Hours">
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.Hours" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <img id="image-preview" src="~/img/default/timereport/default_time_report_image.png" onclick="openImageFileDialog()">
    </div>
    <div class="form-group">
        <label class="file-input invisible">
            <input type="file" asp-for="@Model.ImageFile" class="form-control-file" id="image" name="ImageFile" onchange="previewImage(event)">
        </label>
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Info">Information:</label>
        <textarea asp-for="@Model.Info" class="form-control" id="Info" rows="6"></textarea>
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.Info" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-secondary w-100 m-0 mb-5 p-2" onclick="submitTimeReport(event)">
            <span class="m-2">SKICKA IN TIDSRAPPORT</span>
            <i class="bi bi-send"></i>
        </button>
    </div>
</form>

<!--Include form submission validation modals and scripts-->
<partial name="~/Views/Shared/Scripts/_ValidationScripts.cshtml" />
<partial name="~/Views/Shared/Modals/_SubmissionSucessModal.cshtml" />
<partial name="~/Views/Shared/Modals/_SubmissionFailedModal.cshtml" />

<!--Include required JS modules based on environment-->
<environment include="Development">
    <script src="~/js/createTimeReportModule/createTimeReportModule.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/createTimeReportModule/createTimeReportModule.min.js" asp-append-version="true"></script>
</environment>
