@model CreateWorkplaceFormModel

<div class="justify-content-center text-center mb-5">
    <h3 class="display-8">Lägg till Arbetsplats</h3>
    <p>Fyll i formuläret nedan för att lägga till en ny arbetsplats.</p>
    <div class="m-2">
        <div class="m-2">
            <label class="d-block p-2 m-2">Välj API-alternativ:</label>
            <select class="api-select selectpicker" id="api-endpoint">
                <option value="https://arbetsprov.trinax.se/api/v1" selected>Trinax Web API</option>
                <option value="http://localhost:5000/api/v1">Fallback API</option>
            </select>
        </div>
    </div>
</div>

<form id="create-workplace-form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.Name">Namn:</label>
        <input asp-for="@Model.Name" class="form-control" id="name">
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.Name" class="text-danger text-danger p-1"></span>
        </div>
    </div>
    <div class="form-group info-option hidden">
        <label asp-for="@Model.Info">Information:</label>
        <textarea asp-for="@Model.Info" class="form-control" id="info"></textarea>
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.Info" class="text-danger text-danger p-1"></span>
        </div>
    </div>
    <div class="form-group image-option hidden">
        <img id="image-preview" src="~/img/default/workplace/default_workplace_image.png">
    </div>
    <div class="form-group">
        <label class="file-input invisible">
            <input type="file" asp-for="@Model.ImageFile" class="form-control-file" id="image-input">
        </label>
        <div class="mt-1 mb-1" role="alert">
            <span asp-validation-for="@Model.ImageFile" class="text-danger text-danger p-1"></span>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-secondary w-100 m-0 mb-5 p-2" type="submit" id="submit-button">
            <span class="m-2">SPARA ARBETSPLATSEN</span>
            <i class="bi bi-building-add"></i>
        </button>
    </div>
</form>

<!--Include form submission validation modals and scripts-->
<partial name="~/Views/Shared/Scripts/_ValidationScripts.cshtml" />
<partial name="~/Views/Shared/Modals/_SubmissionSucessModal.cshtml" />
<partial name="~/Views/Shared/Modals/_SubmissionFailedModal.cshtml" />

<!--Include required JS modules based on environment-->
<environment include="Development">
    <script src="~/js/createWorkplaceModule/createWorkplaceModule.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/createWorkplaceModule/createWorkplaceModule.min.js" asp-append-version="true"></script>
</environment>

