@model WorkplacePreviewModel

<div class="text-right mt-4 mb-4">
    <a class="btn btn-secondary" asp-controller="Workplace" asp-action="CreateWorkplace">
        <span>LÄGG TILL ARBETSPLATS</span>
        <i class="bi bi-building-add"></i>
    </a>
</div>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th scope="col" class="col-2">Id</th>
            <th scope="col" class="col-4">Name</th>
            <th scope="col" class="col-4">Time</th>
            <th scope="col" class="col-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workplace in Model.Workplaces)
        {
            <tr>
                <td>@workplace.Id</td>
                <td>@workplace.Name</td>
                <td>@workplace.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#workplaceDetails_@workplace.Id">
                        <i class="btn btn-secondary bi bi-info-circle m-0"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="modal-container"></div>
@foreach (var workplace in Model.Workplaces)
{
    <div class="modal fade" id="workplaceDetails_@workplace.Id" tabindex="-1" aria-labelledby="workplaceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="workplaceModalLabel">Workplace Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p><strong>Id:</strong> @workplace.Id</p>
                        <p><strong>Name:</strong> @workplace.Name</p>
                        <p><strong>Time:</strong> @workplace.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        <p><strong>Info:</strong> @workplace.Info</p>
                        <div class="text-center">
                            @if (workplace.ImageFile != null)
                            {
                                <img src="@workplace.ImageFile.FileName" alt="Workplace Image" class="img-fluid">
                            }
                            else
                            {
                                <img src="~/img/default/workplace/no_workplace_image.png" alt="Workplace Image" class="img-fluid">
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Include required JS modules based on environment -->
<environment include="Development">
    <script src="~/js/previewWorkplaceModule/previewWorkplaceModule.js" asp-append-version="true"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/previewWorkplaceModule/previewWorkplaceModule.min.js" asp-append-version="true"></script>
</environment>
